<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <h1 class="center white-text"><%= titulo %></h1>

    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
                
                <table class="responsive-table">
                    <tr> 
                    <td>Numero de fase</td>
                    <td>Nombre de fase</td>
                    <td>Id Proyecto</td>
                    </tr>
                    <tr> 
                        <% for (let detalle of datos_fases) { %>
                            
                            <td><%= detalle.numFase %></td>
                            <td><%= detalle.nombreFase %> </td>
                            <td><%= detalle.idProyecto %></td>

                        <% } %>          
                    </tr>      
                </table>   

                <br><br>

                
                <div class="center">
                    <% for (let detalle of datos_fases) { %>
                    <a href="/proyectos/<%= detalle.idProyecto %>" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar al proyecto</a>
                    <a href="/fases/modificar/<%= detalle.idProyecto %>" class="btn waves-effect waves-light"><i class="material-icons right">add_box</i>Crear fase</a>           
                    <% } %> 
                </div>
                
            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>