<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

  <main class="container">
  
    <div class="container" style="position: absolute; left:25%; top:25%;
      margin: auto; min-width:50%; max-width:max-content;">
      <h1 class="center white-text"><%= titulo %></h1>
      <% if (error) { %> 
        <span style="color:red"><%= error %></span>
      <% } %>
      
        <form class="passcontent" action="/users/login" method="POST">
            <label for="usuario">Nombre de usuario</label> 
            <input class="white-text" type="text" name="usuario">
            <br><br>
            <label for="password">Contraseña</label> 
            <input class="white-text" type="password" name="password">
            <br><br>
            <input class="waves-effect waves-light btn" type="submit" value="Ingresar"> <br><br>
        </form>
    </div>
  

  </main>

<%- include('partials/footer.ejs') %>