<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    </div>
    <div class="container white-text">
        <div class="row">
            
            <div>
                <form action="/casosdeuso/actualizarCaso" method="POST" class="box white-text">
                   <div class="row">
                    <% for (let casodeuso of lista_casosdeuso) { %>

                    <label for="nombre">Nombre </label><br><br><input type="text" name="nombre_cu" value="<%= casodeuso.nombre %>" required>
                    <label for="descripcion"><br>Descripción </label><br><br><br><input type="text" name="descripcion_cu" value="<%= casodeuso.descripcion %>" required>
                    
                    <label for="iteracion"><br>Iteracion </label><br><br><br><input type="numeric" name="iteracion_cu" value="<%= casodeuso.iteracion %>" required>
                    
                    <label for="IdDificultad"><br>Dificultad</label><br><br><br><input type="numeric" name="dificultad_cu" value="<%= casodeuso.dificultad %>" required>
                    
                    
                    <label><br></label>
                        <button type="submit" name="action"> Actualizar
                    </button>
                        
                    <label for="IdProyecto" class="oculto"><br> IdProyecto </label><input type="text" name="IdProyecto_cu" value="<%= casodeuso.IdProyecto %>" class="oculto" required>
                    <label for="IdCasoDeUso" class="oculto"> Id Caso de Uso  </label><input type="text" name="IdCasoDeUso_cu"  value="<%= casodeuso.IdCasoDeUso %>" class="oculto" required>  
                    <% } %>

                        
                    <%- include('partials/footer.ejs') %>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>    

