<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <div class="container white-text" style="margin: auto; min-width:70%; max-width:max-content;">
        <h1 class="center white-text"><%= titulo %></h1>
        
        <form class="passcontent grey-text text-lighten-1" action="/fases/modificar-fase" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            
            <% for (let elemento of fase) { %> 
                
                Nombre <br>
                <input class="white-text" type="text" name="nombreFase" value="<%= elemento.nombreFase %>" required>
            
                <input type="hidden" name="idProyecto" value="<%= elemento.idProyecto %>">

                <input type="hidden" name="idFase" value="<%= elemento.idFase %>">
                <br><br>
                <br>  

                <div class="center">
                    <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Modificar fase
                        <i class="material-icons right">send</i>
                    </button>
                    <p></p>
                    <a href="/fases/<%= elemento.idProyecto %>" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>   
                </div>
            </form>
            <% } %>
        

    </div>    

<%- include('partials/footer.ejs')  %>