 
        <%- include('partials/head.ejs') %>
        <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="row">
             
            <div class="mycol md-12 sm-12 lg-9">
                <form action="/proyectos/:proyecto_id" method="POST">
                <% for (let Proyecto of lista_proyecto) { %>

                            <label for="idProyecto" > idProyecto </label> <input type="text" name="idProyecto" value="<%= proyecto.IdProyecto %>" required>
                            <label for="nombreProyecto" > Nombre del Proyecto  </label> <input type="text" name="nombreProyecto" value="<%= proyecto.nombreProyecto %>" required>
                            <label for="descripcion"> Descripción del Proyecto  </label> <input type="text" name="descripcion" value="<%= proyecto.descripcion %>" required>
                            <label for="fecha_inicio" > Fecha de Inicio   </label> <input type="date" name="fecha_inicio" value="<%= proyecto.fecha_inicio %>" required>
                            <label for="fecha_fin" > Fecha de finalización  </label> <input type="date" name="fecha_fin" value="<%= proyecto.fecha_fin %>" required>

                            <br><br>                 
                          
                
                <button class="btn waves-effect waves-light" type="submit" name="action"> Guardar
                    <i class="material-icons right">send</i>
                </button>                
                <a href="/proyectos/<%=proyecto.idProyecto %>" class="waves-effect waves-light btn" > Cancelar </a> <br> 
                <% } %>

                </form>

                <br><br><br>                    
            </div>
        </div>
    </div>    



    
</body>
<%- include('partials/footer.ejs')  %>

</html>