<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1 class="center white-text">Caso de uso</h1>

<div class="container highlight proyectContent">
  <div style="margin-bottom: 0px;">
       
      <div class="white-text col md-12 sm-12 lg-9">
    <div class="container white-text">
        <div class="row">
            <div>
                <form action="/casosdeuso/actualizarCaso" method="POST" class="box white-text">
                   <div class="row">
                    <% for (let casodeuso of lista_casosdeuso) { %>

                    <label for="nombre">Nombre </label><br>
                    <input type="text" name="nombre_cu" value="<%= casodeuso.nombre %>" required><br><br>

                    <label for="descripcion"><br>Descripción </label><br>
                    <input type="text" name="descripcion_cu" value="<%= casodeuso.descripcion %>" required><br>
                    
                    <label for="iteracion"><br>Iteracion </label><br>
                    <input type="numeric" name="iteracion_cu" value="<%= casodeuso.iteracion %>" required><br>
                    
                    <label for="IdDificultad"><br>Dificultad</label><br>
                    <input type="numeric" name="dificultad_cu" value="<%= casodeuso.dificultad %>" required><br>
                    
                    
                    <label><br></label>
                        <button type="submit" name="action"> Actualizar
                    </button>
                    
                    <br>
                    <label for="idProyecto" class="oculto"><br> idProyecto </label><input type="text" name="idProyecto_cu" value="<%= casodeuso.idProyecto %>" class="oculto" required>
                    <label for="idCasoUso" class="oculto"> Id Caso de Uso  </label><input type="text" name="idCasoUso_cu"  value="<%= casodeuso.idCasoUso %>" class="oculto" required>  
                    <% } %>
                </form>
                </div>
            </div>
        </div>   
                        
                    <%- include('partials/footer.ejs') %>
                        
                    </div>
                
            </div>
        </div>
    </div>    

