<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <div class="container white-text" style="margin: auto; min-width:70%; max-width:max-content;">
        <h1 class="center white-text"><%= titulo %></h1>
        
        <form class="passcontent grey-text text-lighten-1" action="/iteracion/modificar-iteracion" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <% for (let detalles of detalles_iteracion) { %> 
                Descripcion <br>
                <input class="white-text" type="text" name="descripcion" value="<%= detalles.descripcion %>" required>
                Fecha inicio <br>
                <input class="datepicker white-text" type="date" name="fecha_inicio" value="<%= detalles.fechaPlaneada %>" required>
                Fecha fin <br>
                <input class="datepicker white-text" type="date" name="fecha_fin" value="<%= detalles.fechaEntrega %>" required>
                Estado <br>
                <input class="white-text" type="hidden" name="estado" value="<%= detalles.estadoProyecto %>">
                
                <input type="hidden" name="idProyecto" value="<%= detalles.idProyecto %>">
                <br><br>
                <br>  

                <div class="center">
                    <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Modificar proyecto
                        <i class="material-icons right">send</i>
                    </button>
                    <p></p>
                    <a href="/proyectos" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>   
                </div>
            </form>
            <% } %>
        

    </div>    

<%- include('partials/footer.ejs')  %>
