<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

  <main class="container">
    <!-- Titulo -->
    <h1 class="header center white-text"><%= titulo %></h1>
    
    <!-- Para que se vea bonito-->
    <div style="backdrop-filter: blur(10px) contrast(70%); padding:20px; border-radius: 20px;">
      
      <!-- Generar proyectos almacenados con tarjetas -->
      <div class="row">
        <% for (let proyecto of lista_proyecto) { %>
          <div class="col s12 m4 l3">
            <div class="card small grey darken-4">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/images/background2.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-lighten-3"><%= proyecto.nombreProyecto %><i class="material-icons right">more_vert</i></span>
                  <p><a href="/proyectos/<%= proyecto.idProyecto %>">Ver proyecto</a></p>
                </div>
                <div class="card-reveal grey darken-4 grey-text text-lighten-3">
                  <span class="card-title"><%= proyecto.nombreProyecto %><i class="material-icons right">close</i></span>
                  <p class="">Descripción: <%= proyecto.descripcion %></p>
                </div>
            </div>
          </div>
        <% } %>
      </div>
    
      <!-- Botón para crear un nuevo proyecto-->
        <div class="row center">
            <a href="/proyectos/registrar-proyecto" id="new_project" class="btn-large waves-effect waves-light green lighten-1">Crear nuevo proyecto</a>
        </div>

    </div>

  </main>

  <%- include('partials/footer.ejs') %>

<script>
  function buscar() {
    const valor_busqueda = document.getElementById('buscar').value;
//El token de protección CSRF
const csrf = document.getElementById('_csrf').value;

let data = {valor_busqueda: valor_busqueda};

console.log(valor_busqueda);
//función que manda la petición asíncrona
fetch('/proyectos/buscar', {
    method: 'POST',
    body: JSON.stringify(data),
    headers: {
        'csrf-token': csrf,
        'Content-Type': 'application/json'
      },
}).then(result => {
    return result.json(); //Regresa otra promesa
}).then(data => {
    //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
    console.log(data);
    let html = '';
    for (let proyecto of data) {
      html += '<b></b>' +
                '<div>' +
                  '<span class="card-title activator white-text text-darken-4"><a href="/proyectos/contenido">' + proyecto.nombreProyecto + '</a><i class="material-icons right">more_vert</i></span><span class="material-icons right">close</i></span>' +
                  '<p><a href="#">...</a></p>' +
                '</div>';
    }
    document.getElementById("resultados").innerHTML = html;
    
}).catch(err => {
    console.error(err);
});
}
</script>