<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

      <!-- Parallax section  -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <!-- Info of parallax section  -->
      <div class="container">
        <br><br>
        <h1 class="header center white-text"><%= titulo %></h1>
        <div class="row center">
          <h5 class="header col s12 light">Bienvenido @Usuario</h5>
        </div>

        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">

        <div class="cuadrito">
          <div class="passcontent">
            <div class="row center">
              <strong>Buscar proyecto </strong>
              <input type="text" name="buscar" id="buscar" onkeyup="buscar()">
            </div>

          </div>
        </div>

          
        <!-- Primer cuadro -->
        <div class="cuadrito">
          <div class="passcontent">
              <table style="width:100%" id="resultados">
                <% for (let proyecto of lista_proyecto) { %>
                    <b></b>
                      <div>
                        <span class="card-title activator white-text text-darken-4"><a href="/proyectos/contenido"><%= proyecto.nombreProyecto %></a><i class="material-icons right">more_vert</i></span>                        <span class="material-icons right">close</i></span>
                        <p><a href="#">...</a></p>
                        
                      </div>
              <% } %>
              </table>
          </div>
        </div>


        <!-- Segundo cuadro -->
        <div class="cuadrito">
          <div class="passcontent">
            
            <!-- Un botón  -->
            <div class="row center">
                <a href="/proyectos/registrar-proyecto" id="new_project" class="btn-large waves-effect waves-light teal lighten-1">Crear nuevo proyecto</a>
            </div>

          </div>
        </div>

        <br><br>
      </div>
    </div>
    
    <!-- Set parallax image  -->
    <div class="parallax"><img src="images/proyectos.jpg" alt="Imagen stock unsplash."></div>
  </div>

  <!-- White container section  -->
  <div class="container">
    <div class="section">

      <!--vacio por mientras-->

    </div>
  </div>

<%- include('partials/footer.ejs') %>


<script>
  function buscar() {
    const valor_busqueda = document.getElementById('buscar').value;
//El token de protección CSRF
const csrf = document.getElementById('_csrf').value;

let data = {valor_busqueda: valor_busqueda};

console.log(valor_busqueda);
//función que manda la petición asíncrona
fetch('/proyectos/buscar', {
    method: 'POST',
    body: JSON.stringify(data),
    headers: {
        'csrf-token': csrf,
        'Content-Type': 'application/json'
      },
}).then(result => {
    return result.json(); //Regresa otra promesa
}).then(data => {
    //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
    console.log(data);
    let html = '';
    for (let proyecto of data) {
      html += '<b></b>' +
                '<div>' +
                  '<span class="card-title activator white-text text-darken-4"><a href="/proyectos/contenido">' + proyecto.nombreProyecto + '</a><i class="material-icons right">more_vert</i></span><span class="material-icons right">close</i></span>' +
                  '<p><a href="#">...</a></p>' +
                '</div>';
    }
    document.getElementById("resultados").innerHTML = html;
    
}).catch(err => {
    console.error(err);
});
}
</script>