<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    </div>

    <h1 class="center white-text">Todos los casos de uso</h1>

    <div class="container highlight proyectContent">
      <div style="margin-bottom: 0px;">
           
          <div class="white-text col md-12 sm-12 lg-9">
                        
                <table class="table table-responsive-md table-striped table-dark white-text">
                 
                  <thead>
                    <tr>
                      <th scope="col">Id Caso de uso</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Id Proyecto</th>
                      <th scope="col">Dificultad</th>
                      <th scope="col">Iteracion</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% for (let CasoDeUso of lista_casosdeuso) { %>
                    
                    <tr>
                      <td><%= CasoDeUso.idCasoUso %></td>
                      <td><%= CasoDeUso.nombre %> </td>
                      <td><%= CasoDeUso.descripcion %></td>
                      <td><%= CasoDeUso.idProyecto %> </td>
                      <td><%= CasoDeUso.dificultad %></td>
                      <td><%= CasoDeUso.iteracion %></td>
                      
                      <td> <button name="opt"><a href="/casosdeuso/<%= CasoDeUso.idCasoUso %>">Editar</a></button></td>
                      
                      <td> <button name="opt"><a href="/casosdeuso/<%= CasoDeUso.idCasoUso %>/<%= CasoDeUso.idProyecto %>">Ver tareas asociadas</a></button></td>                      
                      <td>
                            <form action="/casosdeuso/eliminar-casoDeUso" method="POST" id="eliminar_<%= CasoDeUso.idCasoUso %>">
                                <input type="hidden" name="idCasoUso" value="<%= CasoDeUso.idCasoUso %>">
                                <button type="submit" name="add">Borrar</button>

                                <script> 
                                    document.getElementById("eliminar_<%= CasoDeUso.idCasoUso %>").addEventListener('submit', (e) => {
                                      let confirmacion = confirm('¿Estás seguro de eliminar el caso de uso?');
                                      if(!confirmacion){
                                        e.preventDefault();
                                      }  
                                    });
                                </script>

                            </form>                          
                      </td> 
                         


                    </tr>
                    
                    <% } %> 
                  </tbody>
                </table>               
            
            
           
                        
                     
                
                <% for (let CasoDeUso of lista_casosdeuso) { %>
            <button name="opt"><a href="/proyectos/detalles/<%=CasoDeUso.idProyecto %>" class="btn " > Volver al proyecto </a></button>
            <button name="opt"><a href="/proyectos/nuevocaso/<%=CasoDeUso.idProyecto %>" class="btn"> Crear nuevo</a></button>
            <% } %> 
          </div>
        </div>
    </div>     
                

        </div>
    </div>    


    <%- include('partials/footer.ejs') %>
