<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<br><br><br>
    <div class="container">
        <div class="row">
             
            <div class="white-text col md-12 sm-12 lg-9">
                <table class="responsive-table">
                <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Fecha inicial</td>
                <td>Fecha Final</td>
                </tr>
                <tr> 
                    <% for (let detalle of Proyecto) { %>
                        <td><%= detalle.nombreProyecto %> </td>
                        <td><%= detalle.descripcion %></td>
                        <td><%= detalle.fecha_inicio %> </td>
                        <td><%= detalle.fecha_fin %></td>
                    <% } %>          
                   </tr>      
                </table>    
                    <br><br><br>
                    <% for (let detalle of Proyecto) { %>
                    <a href="/proyectos/<%= detalle.IdProyecto %>" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-primary">WBS</a>
                    <a href="/proyectos" class="btn btn-primary">Volver al inicio</a>
                    <br><br>         
                    <% } %>        
            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>