<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <% for (let detalle of lista_iteraciones) { %>
    <h1 class="center white-text">Detalles de la Iteracion <%= detalle.idIteracion %></h1>
    <% } %>

    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
                
                <table class="responsive-table">
                    <tr>
                    <td>Id Iteracion</td>    
                    <td>Descripcion</td>
                    <td>Fecha inicial</td>
                    <td>Fecha Final</td>
                    <td>Estado de Iteracion</td>
                    </tr>
                    <tr> 
                        <% for (let detalle of Iteracion) { %>
                            
                            <td><%= detalle.idIteracion %></td>
                            <td><%= detalle.descripcion %></td>
                            <td><%= detalle.fechaPlaneada %> </td>
                            <td><%= detalle.fechaEntrega %></td>
                            <td><%= detalle.estadoIteracion %></td>

                        <% } %>          
                    </tr>      
                </table>   

                <br><br>
                
                <div class="center">
                    <% for (let detalle of Iteracion) { %>
                    <a href="/proyectos/modificar-proyecto/<%= detalle.idIteracion%>" class="waves-effect waves-light yellow darken-4 btn-large"><i class="material-icons left">edit</i>Editar</a>
                    <a href="/iteracion" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>        
                    <% } %>     
                </div>
                
            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>