<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <% for (let detalle of detalles_iteracion) { %>
    <h1 class="center white-text">Detalles de la Iteracion <%= detalle.idIteracion %></h1>
    <% } %>

    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
                
                <table class="responsive-table">
                    <tr>
                    <td>Id Iteracion</td>    
                    <td>Descripcion</td>
                    <td>Fecha inicial</td>
                    <td>Fecha Final</td>
                    <td>Estado de Iteracion</td>
                    </tr>
                    <tr> 
                        <% for (let detalle of detalles_iteracion) { %>
                            
                            <td><%= detalle.idIteracion %></td>
                            <td><%= detalle.descripcion %></td>
                            <td><%= detalle.fechaPlaneada %> </td>
                            <td><%= detalle.fechaEntrega %></td>
                            <td><%= detalle.estadoIteracion %></td>

                        <% } %>          
                    </tr>      
                </table>   

                <br><br>
                
                <div class="center">
                    <% for (let detalle of detalles_iteracion) { %>
                    <a href="/iteracion/modificar-iteracion/<%= detalle.idIteracion%>" class="waves-effect waves-light yellow darken-4 btn-large"><i class="material-icons left">edit</i>Editar</a>
                    <br><br>
                    <a href="/proyectos/iteracion/<%= detalle.idProyecto %>" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>        
                    
                    <br><br>
                    <form action="/iteracion/eliminar-iteracion" method="POST" id="eliminar_<%= detalle.idIteracion %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="idIteracion" value="<%= detalle.idIteracion %>">
                        <a href="/proyectos" class="waves-effect waves-light red  btn"><i class="material-icons left">delete</i>Borrar</a>  
                        <script> 
                            document.getElementById("eliminar_<%= detalle.idIteracion %>").addEventListener('submit', (e) => {
                              let c = confirm('¿Estás seguro de eliminar la iteracion?');
                              if(!c){
                                e.preventDefault();
                              }  
                            });
                        </script>
                    </form>
                    <% } %>   
                </div>
                
            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>