<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <h1 class="center white-text"><%= titulo %></h1>

    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
            
            <div class="white-text col md-12 sm-12 lg-9">
            <% for (let detalle of Fase) { %>
                
                <h4><%= detalle.nombreFase %> <a href="/fases/modificar-fase/<%= detalle.idFase %>" class="waves-effect waves-light yellow darken-4 btn"><i class="material-icons left">edit</i>Editar</a></h4> 
                <table class="responsive-table">
                    <head>
                        <tr>
                        <th>Tareas</th>
                        <th>Acciones</th>
                        </tr>
                    </head>

                    <body>
                        <tr> 
                        <td>:)</td>
                        <td>botones</td>        
                        </tr>
                    </body>      
                </table>   
                <br><br>
            <% } %>

                <br><br>
                
                <div class="center">
                    <% for (let detalle of Fase) { %>
                    <a href="/fases/registrar-fase/<%= detalle.idProyecto %>" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>Agregar fase</a>
                    <br><br>
                    <a href="/proyectos/<%= detalle.idProyecto %>" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>        
                    <% } %>     
                </div>
                
            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>