<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
  
  <main class="container">
    <!-- Titulo -->
    <h1 class="header center white-text"><%= titulo %></h1>
    
    <!-- Search bar -->
    <div class="white-text searchbar">
      <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
      
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <label for="buscar">Escribe aquí para buscar un proyecto</label>
        <input class="white-text" type="text" name="buscar" id="buscar" onkeyup="buscar()">

      </div> 

    </div>

    <!-- Para que se vea bonito-->
    <div style="backdrop-filter: blur(10px) contrast(70%); padding:20px; border-radius: 20px; margin-bottom: 6%;">
       <!-- Botón para crear un nuevo proyecto-->
       <div class="row center">
        <a href="/proyectos/registrar-proyecto" id="new_project" class="btn-large waves-effect waves-light green"><i class="material-icons left">add</i>Nuevo proyecto</a>
      </div>
    
    <!-- Generar proyectos almacenados con tarjetas -->
      <div class="row" id="resultados">
        
        <% for (let proyecto of lista_proyecto) { %>
          
          <div class="col s12 m6 l4">
            <div class="card small grey darken-4">
              <div class="card-content white-text">
                <span class="card-title"><%= proyecto.nombreProyecto %></span>
                <p><%= proyecto.descripcion %></p>
              </div>
              <div class="center card-action">
                <!-- Dropdown Trigger -->
                <a class='dropdown-trigger btn' data-target='<%= proyecto.idProyecto %>' style="width: 80%;">Ver Proyecto</a>

                <!-- Dropdown Structure -->
                <ul id='<%= proyecto.idProyecto %>' class='dropdown-content'>
                    <li><a href="/proyectos/modificar-proyecto/<%= proyecto.idProyecto %>" class="waves-effect waves-light yellow darken-4 btn-large"><i class="material-icons left">edit</i>Editar</a></li>
                    <li><a href="/fases/<%= proyecto.idProyecto %>" class="waves-effect waves-light pink darken-4 btn-large"><i class="material-icons left">grid_view</i>WBS</a></li>
                    <li><a href="/proyectos/casodeuso/<%= proyecto.idProyecto %>" class="waves-effect waves-light btn-large"><i class="material-icons left">border_all</i>Historia de Usuario</a></li>  
                    <li class="divider" tabindex="-1"></li>
                
                    <li>
                      <form action="/proyectos/eliminarProyecto" method="POST" id="eliminar_<%= proyecto.idProyecto %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="idProyecto" value="<%= proyecto.idProyecto %>">
                        <button class="transparent" style="border-color: rgba(255, 255, 255, 0);"><li><a type="submit" name="add" class="waves-effect waves-light red"><i class="material-icons left">delete</i>Borrar</a></li></button>
                         <script> 
                           document.getElementById("eliminar_<%= proyecto.idProyecto   %>").addEventListener('submit', (e) => {
                             let confirmacion = confirm('¿Estás seguro de eliminar el Proyecto?');
                             if(!confirmacion){
                               e.preventDefault();  
                             }  
                           });
                        </script>
                      </form>  
                    </li>

                    </ul>
              </div>
            </div>
          </div>
          
        <% } %>

      </div>
      
  </div>

  </main>

  <%- include('partials/footer.ejs') %>

<!-- Script de búsqueda -->  
<script src="/js/buscar.js"></script>