<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">

    <div class="container white-text" style="margin: auto; min-width:70%; max-width:max-content;">
        <h1 class="center white-text"><%= titulo %></h1>

            <form class="passcontent grey-text text-lighten-1" action="/proyectos/nuevo-casodeuso" method="POST">
                <!-- CSRF -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="white-text" type="hidden" name="idProyecto" value="<%= idProyecto%>" required><br>



                

                <!-- Actual inputs -->
                Yo como
                <input class="white-text" type="text" name="yo_como" required><br>
                Quiero<br>
                <input class="white-text" type="text" name="quiero" required><br>
                Para<br>
                <input class="white-text" type="text" name="para" required><br>
                Comentario<br>
                <input class="white-text" type="text" name="comentario" required><br>
                AP<br>
                <div class="input-field col s12 white-text" style="max-width: 35%;">
                    <select class="browser-default transparent" id="name" name="ap" style="border-color: rgba(255, 255, 255, 0.322); color: rgb(255, 255, 255);" required>
                      <option class="black" value="" disabled selected>Selecciona</option>
                      <option class="black" value="1">1</option>
                      <option class="black" value="2">2</option>
                      <option class="black" value="3">3</option>
                      <option class="black" value="4">4</option>
                      <option class="black" value="5">5</option>
                      <option class="black" value="6">6</option>
                      <option class="black" value="7">7</option>
                      <option class="black" value="8">8</option>
                      <option class="black" value="9">9</option>
                      <option class="black" value="10">10</option>
                      <option class="black" value="11">11</option>
                      <option class="black" value="12">12</option>
                      <option class="black" value="13">13</option>
                    </select>
                </div>
                


                <div class="center">
                    <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Registrar Historia
                        <i class="material-icons right">send</i>
                    </button>
                    <p></p>
                    <a href="/proyectos/casodeuso/<%= idProyecto %>" class="waves-effect waves-light red btn" style="width:14rem;"><i class="material-icons left">undo</i>Regresar</a>   
                </div>
            </form>


        </div>
    </main>

<%- include('partials/footer.ejs')  %>
