<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <main class="container">
        
        <div class="container" style="margin: auto; min-width:50%; max-width:max-content;">
            <h1 class="center white-text"><%= titulo %></h1>

            <form class="passcontent" action="/users/register" method="POST">
                
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <label for="nombre">Nombre</label> <input class="white-text" type="text" name="nombre" required>
                <br>
                <label for="usuario">Nombre de usuario</label> <input class="white-text" type="text" name="usuario" required>
                <br>
                <label for="password">Contraseña</label> <input class="white-text" type="password" name="password" required>
                <br>
                <label for="rol">Rol</label><br>
                <div class="input-field col s12 white-text" style="max-width: 35%;">
                    <select class="browser-default transparent" id="name" name="rol" style="border-color: rgba(255, 255, 255, 0.322); color: rgb(255, 255, 255);" required>
                      <option class="black" value="1">1</option>
                      <option class="black" value="2">2</option>
                    </select>
                </div>
                
                <br>

                <div class="center card-action">
                    <button class="waves-effect waves-light btn-large green" type="submit"><i class="material-icons left">add</i>Registrar</button>
                    <p></p>
                    <a class="waves-effect waves-light btn red btn" style="width:14rem;" href="/proyectos"><i class="material-icons left">undo</i>Regresar</a>
                </div>

            </form>
        </div>

    </main>

<%- include('partials/footer.ejs') %>