<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <main class="container">
    
        <div class="container white-text" style="margin: auto; min-width:70%; max-width:max-content;">
            <h1 class="center white-text"><%= titulo %></h1>

                <form class="passcontent grey-text text-lighten-1" action="/proyectos/registrar-proyecto" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    Nombre del proyecto<br>
                    <input class="white-text" type="text" name="nombreProyecto" required><br>
                    Descripción<br>
                    <input class="white-text" type="text" name="descripcion" required><br>
                    Fecha de inicio<br>
                    <input type="text" name="fecha_inicio" class="datepicker white-text" required><br>
                    Fecha de finalización<br>
                    <input type="text" name="fecha_fin" class="datepicker white-text" required><br><br>


<<<<<<< HEAD
                    <div class="center">
                        <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Registrar proyecto
                            <i class="material-icons right">send</i>
                        </button>
                        <p></p>
                        <a href="/proyectos" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>   
                    </div>
                    
                </form>

            </div>
=======
                <div class="center">
                    <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Registrar proyecto
                        <i class="material-icons right">send</i>
                    </button>
                    <p></p>
                    <a href="/proyectos" class="waves-effect waves-light red btn" style="width:14rem;"><i class="material-icons left">undo</i>Regresar</a>   
                </div>
                
            </form>
>>>>>>> f1c04935770d3c54a31640fffd8a296cf5529461

    </main>

<%- include('partials/footer.ejs')  %>
