<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <h1 class="center white-text"><%= titulo %></h1>

    <!-- Detalles Fases y Tareas -->  
    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
            <form action="/reporte/elegir-tareas/<%= idProyecto %>/<%= id_historia %>" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <table class="centered highlight">
                    <h6 class="header center grey-text text-lighten-1">Elige las tareas que quieres hacer para esta historia de usuario: </h6>

                    <h5 class="center white-text">
                        <% for (let historia of Historia) { %>
                            <% if (historia.idHistoria == id_historia) { %>
                                <%= historia.quiero %> 
                            <% } %>
                        <% } %>
                    </h5>

                    <tr>

                    <td>Fase</td>
                    <td>Tareas</td>
                    <td>Check</td>
                    
                    
                    </tr>
                    <% for (let fases of Fase) { %>
                        <% for (let tarea of Tareas) { %>
                            <% if (tarea.idFase == fases.idFase) { %>
                                    <tr>                                   
                                    <td><%= fases.nombreFase %></td>
                                    <td><%= tarea.nombreTarea %></td>
                                    <td>
                                          <!-- Switch -->
                                        <div class="switch">
                                            <label>
                                            Off
                                            <input type="checkbox" checked>
                                            <span class="lever"></span>
                                            On
                                            </label>
                                        </div>
                                    </td>  
                                    </tr>
                            <% } %>  
                        <% } %>
                    <% } %>
                </table>
                
                <br>
                
                <div class="center">
                    <button class="btn-large waves-effect waves-light green" style="width:18rem;" type="submit" name="action">Guardar
                        <i class="material-icons right">save</i>
                    </button>
                    <p></p>
                    <a href="/fases/<%= idProyecto %>" class="waves-effect waves-light red darken-2 btn"><i class="material-icons left">undo</i>Regresar</a>
 
                </div>

            </form>
                <br><br>
            </div>
        </div>
    </div> 





</main>


<%- include('partials/footer.ejs') %>