<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <h1 class="center white-text"><%= titulo %></h1>

    <!-- Detalles Fases y Tareas -->  
    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
                
                <table class="responsive-table">
                    <h6 class="header center white-text">Elige las tareas que quieres hacer para esta historia de usuario. </h6><br>
                    <tr>
                    
                    <td>Caso de Uso (quiero)</td>
                    <td>Fase</td>
                    <td>Tareas</td>
                    <td>Check</td>
                    
                    
                    
                    </tr>
                    <% for (let fases of Fase) { %>
                        <% for (let tarea of Tareas) { %>
                            <% if (tarea.idFase == fases.idFase) { %>
                                <% for (let historia of Historia) { %>
                                    <tr>
                                    <td><%= historia.quiero %></td>                                    
                                    <td><%= fases.nombreFase %></td>
                                    <td><%= tarea.nombreTarea %></td>
                                    <td>Checkbox</td>  
                                    </tr>
                                <% } %>
                            <% } %>  
                        <% } %>
                    <% } %>
                </table>  







                <br><br>
            </div>
        </div>
    </div> 





</main>


<%- include('partials/footer.ejs') %>