<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <h1 class="center white-text"><%= titulo %></h1>

    <!-- Detalles Fases y Tareas -->  
    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
             
            <div class="white-text col md-12 sm-12 lg-9">
                
                <table class="responsive-table">
                    <h6 class="header center white-text">Fases y tareas </h6>
                    <tr>
                    
                    <td>id Proyecto</td>
                    <td>Caso de Uso (quiero)</td>
                    <td>Fase</td>
                    <td>Tareas</td>
                    
                    
                    
                    </tr>
                    <tr> 
                        <% // for (let caso of lista_historias) { %>
                            
 

                        <% // } %>          
                    </tr>      
                </table>  


                <% for (let fases of Fase) { %>
                    <% for (let tarea of Tareas) { %>
                        <% if (tarea.idFase == fases.idFase) { %>
                            <% for (let historia of Historia) { %>
                                <tr>
                                <td><%= idProyecto %></td>
                                <td><%= historia.quiero %></td>
                                <td><%= tarea.nombreTarea %></td>
                                <td><%= fases.nombreFase %></td>  
                                </tr>
                            <% } %>
                        <% } %>  
                    <% } %>
                <% } %>




                <br><br>
            </div>
        </div>
    </div> 





</main>


<%- include('partials/footer.ejs') %>