<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

    <h1 class="center white-text"><%= titulo %></h1>

    <div class="container highlight proyectContent">
        <div style="margin-bottom: 0px;">
            
            <div class="white-text col md-12 sm-12 lg-9">

                <div class="center">
                    <a href="/fases/registrar-fase/<%= idProyecto %>" class="waves-effect waves-light btn-large"><i class="material-icons left">add_circle_outline</i>Agregar fase</a>
                    <br><br>
                    <a href="/proyectos/<%= idProyecto %>" class="waves-effect waves-light red btn" style="width:14rem;"><i class="material-icons left">undo</i>Regresar</a>        
                </div>

            <% for (let detalle of Fase) { %>

                <h4><%= detalle.nombreFase %>
                    <br><br> 
                    <a href="/tareas/registrar-tarea/<%= idProyecto %>/<%= detalle.idFase %>" class="waves-effect waves-light yellow darken-4 btn-large"><i class="material-icons left">add_box</i>Agregar tarea</a></h4>
                    <form action="/fases/eliminarFase/" method="POST" id="eliminar_<%= detalle.idFase %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="idFase" value="<%= detalle.idFase %>">
                         <button type="submit" name="add" class="waves-effect waves-light red darken-4 btn"><i class="material-icons left">delete</i>Borrar Fase</button>
                         <script> 
                           document.getElementById("eliminar_<%= detalle.idFase   %>").addEventListener('submit', (e) => {
                             let confirmacion = confirm('¿Estás seguro de eliminar la fase?');
                             if(!confirmacion){
                               e.preventDefault();
                             }  
                           });
                        </script>
                    </form>  
                <br>
                <table class="responsive-table">
                    <head>
                        <tr>
                        <th>Tareas</th>
                        <th>Acciones</th>
                        </tr>
                    </head>

                    <body>                        
                            <% for (let tarea of Tareas) { %>
                                <% if (tarea.idFase == detalle.idFase) { %>
                                    <tr>
                                    <td><%= tarea.nombreTarea %></td>
                                    <td>
                                        <form action="/tareas/eliminarTarea/" method="POST" id="eliminar_<%= tarea.idTarea %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="idTarea" value="<%= tarea.idTarea %>">
                                         <button type="submit" name="add" class="waves-effect waves-light red darken-4 btn-small"><i class="material-icons left">delete</i>Borrar Tarea</button>
                                         <script> 
                                           document.getElementById("eliminar_<%= tarea.idTarea   %>").addEventListener('submit', (e) => {
                                             let confirmacion = confirm('¿Estás seguro de eliminar la tarea?');
                                             if(!confirmacion){
                                               e.preventDefault();
                                             }  
                                           });
                                         </script>
                                        </form> 
                                    </td>
                                    
                                    </tr>
                                <% } %>  
                            <% } %>
                    </body>      
                </table>   
                <br><br>
            <% } %>

                <br><br>

            </div>
        </div>
    </div>    


<%- include('partials/footer.ejs') %>